#escenario {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 50vh;
}

#contenedor-responsive {
position: relative;
width: 60%; 
max-width: 800px; 
height: auto;
}

.contenedor-campo {
background-image: url('/field.jpg'); 
background-size: contain; 
background-repeat: no-repeat;
background-position: center;
width: 100%;
height: 0;
padding-top: 56.25%;
position: relative;
}

.position-marker {
  position: absolute;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
  text-align: center;
}

.marker {
  width: 20px;
  height: 20px;
  background-color: red; /* O el color que prefieras */
  border-radius: 50%;
  margin-bottom: 4px;
}